/* --------- Global style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}
.logo{
    text-align: center;
}
.pic{
    height: 90px;
}